# ignore all the junk files that get created by TeXShop typesetting process
.aux
.bbl
#.bib
.lof
.lot
.out
.run.xml
.synctex.gz

# Mac-specific desktop helper info
.DS_Store

# ignore the resources file, where I keep PDF documents of Latex books for reference
resources/
resources/*
